<!DOCTYPE html>
<html>
  <head>
    <title>Ace International</title>
<<<<<<< HEAD
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
=======
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Varela+Round' rel='stylesheet' type='text/css'> -->
>>>>>>> staticPages
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="body-content">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>